<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>About MusicLessonPlanner</h2>
    </div>
    <div class="col-sm-8">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <!-- <h1>MusicLessonPlanner</h1> -->
            <h1>MusicLessonPlanner</h1>
            <p>Keep track of your students, schedule lessons and make-up lessons,<br>
            and keep notes on each student's progress</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-success ui-tab">
            <div class="panel-body">
                <h3>What is MusicLessonPlanner?</h3>
                <p>MusicLessonPlanner is a scheduling and organization application aimed at private music teachers. It makes keeping track of a studio of students much easier by managing lesson scheduling, student contact information, and notes from individual lessons.</p>
                <h3>About the developers</h3>
                <p>The core development team for MusicLessonPlanner is a group of 6 students from UMass Amherst who are working on the application as a group project for their software engineering course.</p>
            </div>
        </div>
    </div>
</div>
