<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>MusicLessonPlanner: Add New Student Record</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="teacher-dashboard.main">Home</a>
            </li>
            <li class="active">
                <strong>Add New Student Record</strong>
            </li>
        </ol>
    </div>
</div>
<!-- <div class="wrapper wrapper-content" ng-controller="StudentRecordCreationCrtl"> -->
<div class="row">
    <div class="col-md-10 col-md-offset-1 animated fadeInDown">
        <div class="panel panel-success" ng-controller="StudentRecordCreationCrtl">
            <div class="panel-heading">
                <h3>Create Student Record</h3>
            </div>
            <div class="panel-body">
                <form novalidate role="form" name="studentRecordForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-noraml">First Name</label>
                                <input type="text" ng-model="firstName" class="form-control" name="firstName" placeHolder="First Name" ng-minlength="2" required>
                                <div class="m-t-xs" ng-show="studentRecordForm.firstName.$invalid && studentRecordForm.firstName.$dirty || studentRecordForm.submitted">
                                    <small class="text-danger" ng-show="studentRecordForm.firstName.$error.required">Please input a first name.</small>
                                    <small class="text-danger" ng-show="studentRecordForm.firstName.$error.minlength">Your username is required to be at least 3 characters.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-noraml">Last Name</label>
                                <input type="text" ng-model="lastName" class="form-control" name="lastName" placeHolder="Last Name" ng-minlength="2" required>
                                <div class="m-t-xs" ng-show="studentRecordForm.lastName.$invalid && studentRecordForm.lastName.$dirty || studentRecordForm.submitted">
                                    <small class="text-danger" ng-show="studentRecordForm.lastName.$error.required">Please input a last name.</small>
                                    <small class="text-danger" ng-show="studentRecordForm.lastName.$error.minlength">Your username is required to be at least 3 characters.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-noraml">Instrument</label>
                                <input type="text" ng-model="instrument" class="form-control" name="instrument" placeHolder="Instrument" ng-minlength="3" required>
                                <div class="m-t-xs" ng-show="studentRecordForm.instrument.$invalid && studentRecordForm.instrument.$dirty || studentRecordForm.submitted">
                                    <small class="text-danger" ng-show="studentRecordForm.instrument.$error.required">Please input a last name.</small>
                                    <small class="text-danger" ng-show="studentRecordForm.instrument.$error.minlength">Your username is required to be at least 3 characters.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-noraml">Email</label>
                                <input type="email" ng-model="email" class="form-control" name="email" placeHolder="Email" required>
                                <div class="m-t-xs" ng-show="studentRecordForm.email.$invalid && studentRecordForm.email.$dirty || studentRecordForm.submitted">
                                    <small class="text-danger" ng-show="studentRecordForm.email.$error">Please input a valid email address.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-noraml">Address</label>
                                <input type="text" ng-model="address" class="form-control" name="address" placeHolder="Address" required>
                                <div class="m-t-xs" ng-show="studentRecordForm.address.$invalid && studentRecordForm.address.$dirty || studentRecordForm.submitted">
                                    <small class="text-danger" ng-show="studentRecordForm.address.$error.required">Please input an address.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-noraml">Phone</label>
                                <input type="text" class="form-control" data-mask="(999) 999-9999" ng-model="phone" name="phone" placeHolder="" required>
                                <span class="help-block">(999) 999-9999</span>
                                <div class="m-t-xs" ng-show="studentRecordForm.phone.$invalid && studentRecordForm.phone.$dirty || studentRecordForm.submitted">
                                    <small class="text-danger" ng-show="studentRecordForm.phone.$error.required">Please input a phone number.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group date">
                                <label class="font-noraml">Birthday</label>
                                <p class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="birthday" is-open="openedBirthday" ng-required="true" close-text="Close" name="birthday" placeHolder="MMMM d, yyyy" required>
                                    <span class="input-group-addon"><button type="button" class="btn btn-success btn-xs" ng-click="openBirthday($event)" tabindex="-1"><i class="fa fa-calendar"></i></button></span>
                                    <div class="m-t-xs" ng-show="studentRecordForm.birthday.$invalid && studentRecordForm.birthday.$dirty || studentRecordForm.submitted">
                                        <small class="text-danger" ng-show="studentRecordForm.birthday.$error.required">Please input a birthday.</small>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-noraml">Starting Date</label>
                                <p class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="startDate" is-open="openedStartDate" ng-required="true" close-text="Close" name="startDate" placeholder="MMMM d, yyyy" required>
                                    <span class="input-group-addon"><button type="button" class="btn btn-success btn-xs" ng-click="openStartDate($event)" tabindex="-1"><i class="fa fa-calendar"></i></button></span>
                                    <div class="m-t-xs" ng-show="studentRecordForm.startDate.$invalid && studentRecordForm.startDate.$dirty || studentRecordForm.submitted">
                                        <small class="text-danger" ng-show="studentRecordForm.startDate.$error.required">Please input a starting date.</small>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-noraml">Number of Lessons:</label>
                                <input type="number" ng-model="numberOfLessons" class="form-control" name="numberOfLessons" placeHolder="0"  min="1" max="500" required>
                                <div class="m-t-xs" ng-show="studentRecordForm.numberOfLessons.$invalid && studentRecordForm.numberOfLessons.$dirty || studentRecordForm.submitted">
                                    <small class="text-danger" ng-show="studentRecordForm.numberOfLessons.$error.required">Please input the number of lessons.</small>
                                    <small class="text-danger" ng-show="studentRecordForm.numberOfLessons.$error.number">Please input a number only.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-noraml">Lesson Length</label>
                                <br>
                                <div class="input-group">
                                    <select chosen data-placeholder="30 minutes" disable_search="true" class="chosen-select" style="width:350px;" tabindex="1" ng-init="lessonLength = lengthOfLessons[1]" ng-model="lessonLength" ng-options="lengthOfLesson for lengthOfLesson in lengthOfLessons">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-noraml">Lesson Time</label>
                                <timepicker ng-model="startDate" ng-change="changed()" hour-step="hstep" minute-step="5" show-meridian="ismeridian"></timepicker>
                                    {{startDate | date:'MMMM d, yyyy h:mm a'}}
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
                    <button type="button" class="btn btn-success" ng-click="ok()">Save Student Record</button>
                </form>
            </div>
        </div>
    </div>
</div>
