<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-eraser modal-icon" style="color:blue"></i>
        <h4 class="modal-title">Delete Student Record</h4>
    </div>
    <div class="modal-body">
        <p>This will permanently delete the student record.</p>
        <!-- <p>This will permanently delete the student record.</p> -->
        <p><strong>Are you sure?</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-success" ng-click="ok()">Confirm Delete</button>
        <!-- <button type="button" class="btn btn-primary" ng-click="ok()">Delete {{student.firstName}} {{student.lastName}}</button> -->
    </div>
</div>