<div class="wrapper wrapper-content" ng-controller="StudentRecordNoteEditCrtl">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>MusicLessonPlanner: Edit Note for {{student.firstName}} {{student.lastName}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="teacher-dashboard.main">Home</a>
                </li>
                <li class="active">
                    <strong>Edit Notes for {{student.firstName}} {{student.lastName}}</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="ibox float-e-margins" ng-controller="StudentListCtrl">
        <div class="ibox-title">
            <h5><strong>Notes</strong></h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content">
            <form novalidate role="form" name="studentRecordForm">
                <!-- <input type="textarea" ng-model="student.generalNotes" class="form-control" name="notes"> -->
                <summernote ng-model="student.generalNotes" class="form-control"></summernote>
                <div>
                    <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="ok()">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
