<div class="wrapper wrapper-content">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>MusicLessonPlanner: Edit Lesson Record</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="teacher-dashboard.main">Home</a>
                </li>
                <li class="active">
                    <strong>Edit Lesson Record</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5><strong>Notes for lesson on {{lesson.date | date:'MMMM d, yyyy'}} {{lesson.lessonTime | date:'h:mm a'}} </h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content">
            <form novalidate role="form" name="lessonNoteForm">
                <!-- <input type="textarea" ng-model="student.generalNotes" class="form-control" name="notes"> -->
                <summernote ng-model="lesson.notes" class="form-control"></summernote>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-danger" ng-click="cancelEditLessonNote()">Cancel</button>
                            <button type="button" class="btn btn-success" ng-click="saveEditLessonNote()">Save Changes</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
