<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title">
            <h5>Lesson Notes<small style="color:white">SAMPLE</small></h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content no-padding border-left-right">
            <table class="table table-hover">
                <thread>
                    <th>Date</th>
                    <th>Time</th>
                </thread>
                <tbody>
                    <tr>
                        <td>March 1, 2015</td>
                        <td>3:00pm</td>
                    </tr>
                    <tr>
                        <td>February 23, 2015</td>
                        <td>3:00pm</td>
                    </tr>
                    <tr>
                        <td>February 16, 2015</td>
                        <td>3:00pm</td>
                    </tr>
                    <tr>
                        <td>February 9, 2015</td>
                        <td>3:00pm</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
