<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title">
            <h5>Lesson Notes</h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content no-padding border-left-right">
            <table class="table table-hover">
                <thread>
                    <th>Date</th>
                    <th>Time</th>
                    <th></th>
                </thread>
                <tbody>
                    <tr ng-repeat="lesson in filteredLessons" ng-click="viewLessonRecord(lesson)">
                        <td>{{lesson.date | date:'MMMM d, yyyy'}}</td>
                        <td>{{lesson.lessonTime | date:'h:mm a'}}</td>
                        <td align="right"><i class="fa fa-chevron-right"></i></td>
                    </tr>
                </tbody>
            </table>
        <pagination total-items="totalLessons" items-per-page="lessonPageSize" ng-model="lessonPageData.currentLessonPage" ng-change="lessonPageChanged()"></pagination>
<!--             <button ng-disabled="currentLessonSchedulePage == 0" ng-click="currentLessonSchedulePage=currentLessonSchedulePage-1">
                Previous
            </button>
            {{currentLessonSchedulePage+1}}/{{numberOfLessonSchedulePages()}}
            <button ng-disabled="currentLessonSchedulePage >= student.lessonSchedules.length/pageSize - 1" ng-click="currentLessonSchedulePage=currentLessonSchedulePage+1">Next</button> -->
            <hr>
        </div>
    </div>
</div>
