<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Lesson Notes for {{lesson.date | date:'MMMM d, yyyy'}} at {{lesson.date | date:'h:mm a'}}</h5>
        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <h3><small>Name:</small> {{student.lastName}}, {{student.firstName}} <small>Instrument:</small> {{student.instrument}} </h3>
        <div class="ibox float-e-margins"=>
            <div class="ibox-title">
                <h5>Notes</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content" style="height:300">
                <p ng-bind-html="lesson.notes"></p>
            </div>
        </div>
        <button class="btn btn-success btn-md" ng-click="editLessonRecord(lesson)" tooltip-placement="top" tooltip="Click to edit the notes for this lesson."><span class="fa fa-pencil-square-o"></span>&nbsp;&nbsp;Edit Lesson Notes</button>
        <button class="btn btn-danger btn-md" ng-click="cancelLesson(lesson)" tooltip-placement="top" tooltip="Click to cancel or reschedule this lesson."><span class="fa fa-pencil-square-o"></span>&nbsp;&nbsp;Cancel Lesson</button>
    </div>
</div>
