<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Create Student Record</h4>
    </div>
    <div class="modal-body">
        <form novalidate role="form" name="studentRecordForm">
            <div class="form-group">
                <label class="font-noraml">First Name</label>
                <input type="text" ng-model="firstName" class="form-control" name="firstName">
            </div>
            <div class="form-group">
                <label class="font-noraml">Last Name</label>
                <input type="text" ng-model="lastName" class="form-control" name="lastName">
            </div>
            <div class="form-group">
                <label class="font-noraml">Instrument</label>
                <input type="text" ng-model="instrument" class="form-control" name="instrument">
            </div>
            <div class="form-group">
                <label class="font-noraml">Email</label>
                <input type="email" ng-model="email" class="form-control">
            </div>
            <div class="form-group">
                <label class="font-noraml">Phone</label>
                <input type="text" ng-model="phone" class="form-control">
            </div>
            <div class="form-group">
                <label class="font-noraml">Address</label>
                <input type="text" ng-model="address" class="form-control">
            </div>
            <div class="form-group">
                <label class="font-noraml">Birthday</label>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="birthday" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                    </span>
                </p>
                <!--                 <div class="input-group date" auto-close="">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="datetime" class="form-control" date-time ng-model="birthday" format="fullDate" min-view="date" view="year" auto-close="true">
                </div> -->
            </div>
            <div class="form-group">
                <label class="font-noraml">Start Date</label>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="startDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                    </span>
                </p>
                <!-- <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="datetime" class="form-control" date-time ng-model="startDate" format="fullDate" min-view="date" view="date" auto-close="true">
                </div>
 -->            </div>
            <div class="form-group">
                <label class="font-noraml">Number of Lessons:</label>
                <input type="text" ng-model="numberOfLessons" class="form-control">
            </div>
            <div class="form-group">
                <label class="font-noraml">Lesson Time</label>
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    <input type="datetime" class="form-control" date-time ng-model="lessonTime" format="hh:mm a" max-view="hours" min-view="minutes" auto-close="true">
                </div>
            </div>
            <div class="form-group">
                <label class="font-noraml">Lesson Length</label>
                <input type="text" ng-model="lessonLength" class="form-control">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Save changes</button>
    </div>
</div>
