<div class="wrapper wrapper-content">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>MusicLessonPlanner: Reschedule Lesson</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="teacher-dashboard.main">Home</a>
                </li>
                <li class="active">
                    <strong>Reschedule Lesson</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="ibox float-e-margins" ng-controller="RescheduleLessonCtrl">
        <!-- <div class="ibox float-e-margins"> -->
        <div class="ibox-title">
            <h5>Select new date and time for {{student.firstName}} {{student.lastName}}</h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content">
            <form novalidate role="form" name="lessonNoteForm">
                <div class="form-group date">
                    <label class="font-noraml">New Date: {{lesson.date | date: 'MMMM dd, yyyy hh:mm a'}}</label>
                    <input type="date" class="form-control" ng-model="lesson.date" name="newDate" data-mask="9999-99-99" placeHolder="yyyy-mm-dd" required>
                    <div class="m-t-xs" ng-show="lessonNoteForm.newDate.$invalid && lessonNoteForm.newDate.$dirty || lessonNoteForm.submitted">
                        <small class="text-danger" ng-show="lessonNoteForm.newDate.$error.required">Please select a new date.</small>
                        <small class="text-danger" ng-show="lessonNoteForm.newDate.$invalid">Please enter the date as yyyy-mm-dd. Example: 1972-12-05</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-noraml">Lesson Time</label>
                    <timepicker ng-model="lesson.date" ng-change="changed()" hour-step="hstep" minute-step="5" show-meridian="ismeridian"></timepicker>
                </div>
                <!-- <div>TEST Date format: {{lesson.date}}</div> -->
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-danger" ng-click="cancelReschedule()">Cancel</button>
                        <button type="button" class="btn btn-success" ng-click="saveReschedule()">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
