<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Dashboard</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Home</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
<!--     <div class="row">
        <div class="col-md-7">
            <div class="row" ng-include="'/views/todayView.html'"></div>
            <div class="row" ng-include="'/views/studentListView.html'"></div>
        </div>
        <div class="col-md-5" ng-include="'/views/teacherView.html'"></div> -->
    </div>
    <div class="row animated fadeInDown">
        <div class="col-md-5" ng-include="'/views/todayView.html'"></div>
        <div class="col-md-7" ng-include="'/views/studentListView.html'"></div>
    </div>
</div>
