<!-- Loads a three-column grid layout, 2 column on tablet, 1 column on smart phone. -->
hreeColumnLeft">
</div> -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-7">
            <div class="row" ng-include="'/views/todayView.html'" scope="" onload=""></div>
            <div class="row" ng-include="'/views/studentListView.html'"></div>
        </div>
        <div class="col-md-5" ng-include="'/views/teacherView.html'"></div>
    </div>
</div>
