

<!-- Left column: Student information -->

<div class = "wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Student Record View<small>SAMPLE</small></h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content">
			<p><small>Student Name:</small> Wolfgang Amadeus Mozart</p>
			<p><small>Instrument:</small> Piano</p>
			<hr>
			<dl class="dl-horizontal">
				<dt>Email:</dt><dd> mozart@vienna.mus</dd>
				<dt>Phone:</dt><dd> 555-1945</dd>
				<dt>Addrees:</dt><dd> Vienna, Austria</dd>
				<dt>Birthday:</dt><dd> January 27, 1756</dd>
				<dt>Lesson Times:</dt><dd> Wednesdays at 3:00pm</dd>
			</dl>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Notes</h3>
				</div>
				<div class="panel-body">
					<textarea class="form-control" rows="3">Current piece: Sonata No. 2, Upcoming piece: Symphony 40, Next Concert: March 31, 1780</textarea>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
</div>
