<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10" ng-controller="StudentRecordCtrl">
        <h2>MusicLessonPlanner | Student: {{student.firstName}} {{student.lastName}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="teacher-dashboard.main">Home</a>
            </li>
            <li class="active">
                <strong>Student Records</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6 col-md-7" ng-include="'/views/studentRecordView.html'" id="studentRecordPageLeft"></div>
        <div class="col-lg-6 col-md-5" ng-include="'/views/studentListView.html'" id="studentRecordPageRight"></div>
    </div>
</div>
