<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Help & Support</h2>
    </div>
    <div class="col-sm-8">
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel blank-panel ui-tab">
            <div class="panel-body">
                <tabset>
                    <tab heading="Account Creation">
                        <strong>Account Creation</strong>
                        <ol>
                            <li>Click <a ui-sref="startpage.register">here</a> to create a new account.</li>
                            <li>You will then be prompted to enter your name and the e-mail you would like to be associated with the account, followed by a password for your account.</li>
                            <div class="well">
                                <h4>Example input:</h4>
                                <ul class="unstyled">
                                    <li>Mary Jane</li>
                                    <li>mj@email.com</li>
                                    <li>Password123</li>
                                </ul>
                            </div>
                            <li>Once you have entered all of this information correctly, select Register. If any of your input is not the correct format an error will pop up to notify you. When set up is complete, you will be brought to your new dashboard where you can proceed with adding students and checking your schedule for the day. </li>
                        </ol>
                        <strong>Congratulations! You have officially created an account with MusicLessonPlanner.</strong>
                    </tab>
                    <tab heading="Login">
                        <strong>Login</strong>
                        <ol>
                            <li>Click <a ui-sref="startpage.landing">here</a> to log in to your account.</li>
                            <li>You will then be prompted to enter your user name and password. Your user name is the email address associated with the account.</li>
                        </ol>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
