<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Teacher Profile</h5>
    </div>
    <div>
        <div class="ibox-content profile-content">
            <div class="ibox-content no-padding">
                <div class="col-md-5"><img alt="image" class="img-responsive" src="/img/mozart.jpg"></div>
                <div class="col-md-7">
                    <h4><strong>W.A Mozart</strong></h4>
                    <h5>About me</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                    <img src="/img/calendarMockUp.jpg" class="img-responsive" alt="Responsive image">
                    <div class="caption">
                        <h5>Calender picker</h5>
                        <p>I just plopped this image here to represent what should be implemented.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
