<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Teacher Profile</h5>
        <div ibox-tools></div>
    </div>
    <div>
        <div class="ibox-content profile-content">
            <div class="ibox-content no-padding">
                <div class="row">
                    <div class="col-md-5"><img alt="image" class="img-responsive" src="/img/mozart.jpg"></div>
                    <div class="col-md-7">
                        <h4><strong>W.A Mozart</strong></h4>
                        <h5>About me</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                        <div date-picker="start" max-view="date" min-view="date" auto-close="false"></div>
<!--                         <div style="display:inline-block; min-height:290px;">
                            <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

