<!-- <div class="ibox float-e-margins" ng-controller="TodayViewController"> -->
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Today <small style="color:white"> Upcoming Events</small></h5>
        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <p>Click to view more information. </p>
        <table class="table table-hover">
            <thread>
                <th>Time</th>
                <th>Student</th>
            </thread>
            <tbody>
                <tr ng-repeat="lesson in lessons| isTodaysLesson | orderBy: 'lessonTime' "ng-click="viewTodayLessonRecord(lesson)">
                    <td>{{lesson.lessonTime | date:'h:mm a'}}
                    </td>
                    <!-- <td>{{lesson.sid}}  <small>(Will have names soon!)</small></td> -->
                    <td>{{lesson.lastName}}, {{lesson.firstName}}</td>
                    <td align="right">
                            <i class="fa fa-chevron-right"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
