<div ng-controller="studentRecordController">
    <form ng-submit="createStudentRecord()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add New Student</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="inputName">First Name</label>
                <input type="text" ng-model="firstName" class="form-control">
            </div>
            <div class="form-group">
                <label for="inputName">Last Name</label>
                <input type="text" ng-model="lastName" class="form-control">
            </div>
            <div class="form-group">
                <label for="inputName">Instrument</label>
                <input type="text" ng-model="instrument" class="form-control">
            </div>
            <div class="form-group">
                <label for="inputName">Email</label>
                <input type="text" ng-model="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="inputName">Address</label>
                <input type="text" ng-model="address" class="form-control">
            </div>
            <div class="form-group" ng-controller="datePickerController">
                <label for="inputName">Start Date</label>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="startDate" is-open="opened" ng-required="true" close-text="Close"/>
                    <span class="input-group btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></button>
                    </span>
                </p>
            </div>
            <div class="form-group">
                <label for="inputName">Lesson Time</label>
                <input type="text" ng-model="lessonTime" class="form-control">
            </div>
        </div>

    <!-- TODO: Make fields required -->

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>