<div ng-controller="studentRecordController" >
    <h2>Students</h2>
    <table class = "table table-hover">
    <thread>
        <th>Students ({{students.length}} records)</th>
        <th>Instrument</th>
    </thread>
    <tbody>
        <tr ng-repeat="student in students">
            <td>{{student.lastName}}, {{student.firstName}}</td>
            <td>{{student.instrument}}</td>
        </tr>
    </tbody>
    </table>  
    <a href="#" class = "btn btn-lg btn-success" data-toggle="modal" data-target="#addStudentForm">&plus;</a> 
    <a href="#" class = "btn btn-lg btn-danger" >&minus;</a>
    <!-- Modal Add student dialog -->
    <div class = "modal fade" id="addStudentForm" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="createStudentRecord()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add New Student</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputName">First Name</label>
                            <input type="text" ng-model="firstName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Last Name</label>
                            <input type="text" ng-model="lastName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Instrument</label>
                            <input type="text" ng-model="instrument" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Email</label>
                            <input type="text" ng-model="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Address</label>
                            <input type="text" ng-model="address" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Start Date</label>
                            <input type="text" ng-model="startDate" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Lesson Time</label>
                            <input type="text" ng-model="lessonTime" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>