

<!-- Left column: Student information -->

<div class="row" ng-controller="studentRecordController">
	<h3>Student Record View SAMPLE</h3>
	<hr>
	<h4><small>Student Name:</small> Wolfgang Amadeus Mozart</h4>
	<h4><small>Instrument:</small> Piano</h4>
	<hr>
	<dl class="dl-horizontal">
		<dt>Email:</dt><dd> mozart@vienna.mus</dd>
		<dt>Phone:</dt><dd> 555-1945</dd>
		<dt>Addrees:</dt><dd> Vienna, Austria</dd>
		<dt>Birthday:</dt><dd> January 27, 1756</dd>
		<dt>Lesson Times:</dt><dd> Wednesdays at 3:00pm</dd>
	</dl>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Notes</h3>
		</div>
		<div class="panel-body">
			<textarea class="form-control" rows="3">Current piece: Sonata No. 2, Upcoming piece: Symphony 40, Next Concert: March 31, 1780</textarea>
		</div>
	</div>

<!-- 	<div class="col-sm-4 col-md-3" id="studentColumnRight">
		<img src="/views/images/mozart.jpg" class="img-responsive" alt="Responsive image" width = "250">
	</div> -->
</div>
<div class="row">
	<h4>Lesson Notes</h4>
	<table class = "table table-hover">
		<thread>
			<th>Date</th>
			<th>Time</th>
		</thread>
		<tbody>
			<tr>
				<td>March 1, 2015</td>
				<td>3:00pm</td>
			</tr>
			<tr>
				<td>February 23, 2015</td>
				<td>3:00pm</td>
			</tr>
			<tr>
				<td>February 16, 2015</td>
				<td>3:00pm</td>
			</tr>
			<tr>
				<td>February 9, 2015</td>
				<td>3:00pm</td>
			</tr>
		</tbody>
	</table> 
</div>