<h2>Teacher Profile</h2>
<img src="/views/images/mozart.jpg" class="img-responsive" alt="Responsive image" width = "150">
<h3>Name: W.A. Mozart</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<img src="/views/images/calendarMockUp.jpg" class="img-responsive" alt="Responsive image">
<div class="caption">
    <h5>Calender picker</h5>
    <p>I just plopped this image here to represent what should be implemented.</p>
</div>