<div ng-controller="studentRecordController" id="todaysEvents">
    <h2>Today</h2>
    <table class = "table table-hover">
        <thread>
            <th>Time</th>
            <th>Student</th>
        </thread>
        <tbody>
            <tr ng-repeat="student in students | orderBy: startTime">
                <td><span ng-bind="student.lessonTime"></span></td>
                <td><span ng-bind="student.lastName"></span>, <span ng-bind="student.firstName"></span></td>
            </tr>
        </tbody>
    </table>  
</div>