<div class="jumbotron">
	<h2>MusicLessonPlanner <small>for Private Music Educators</small></h2>
</div>
<!-- <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Current Issues and TODO</h3>
    </div>
    <div class="panel-body">
        <p class="text-warning">So far: I got the modal to pop up... but it <i>might</i> be irritation for mobile users.</p>
        <p class="text-success">A date picker is a custom component for BootStrap. We can either make our own or find some free ones online somewhere.</p>
        <p class="text-danger">AND I just figured out we can have calls to Bootstrap items from our JS code. Huzzah!</p>
        <p class="text-warning">"Today" doesn't do anything.</p>
        <p class="text-danger">When we get some database functionality we can implement deleting and editing student records. As of right now it just concats into the memory. (Nice hack for testing by Natcha)</p>
    </div>
</div> -->