<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                        <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                        <span class="text-muted text-xs block">Account<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="active">
                <a ui-sref="startpage.landing"><i class="fa fa-music"></i> <span class="nav-label">Login</span> </a>
            </li>
            <li class="active">
                <a ui-sref="startpage.about"><i class="fa fa-info-circle"></i> <span class="nav-label">About</span> </a>
            </li>
            <li class="active">
                <a ui-sref="startpage.support"><i class="fa fa-question-circle"></i> <span class="nav-label">Support</span> </a>
            </li>
        </ul>
    </div>
</nav>
