<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">
                <!-- <h3>MusicLessonPlanner</h3> -->
            </li>
            <li class="active">
                <a ui-sref="startpage.landing"><i class="fa fa-home"></i> <span class="nav-label">Login</span> </a>
            </li>
            <li class="active">
                <a ui-sref="startpage.about"><i class="fa fa-info-circle"></i> <span class="nav-label">About</span> </a>
            </li>
            <li class="active">
                <a ui-sref="startpage.support"><i class="fa fa-question-circle"></i> <span class="nav-label">Support</span> </a>
            </li>
        </ul>
    </div>
</nav>
