<div class="row border-bottom" ng-controller="LoginCtrl">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <strong>BETA</strong><small> build 0.1.1</small>
            </li>
            <li class="dropdown" dropdown>
                <a class="dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-bug"></i> Report Bug <span class="caret"></span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" role="menu">
                        <li><a href="https://github.com/mzenzie/320MusicLessonPlanner/issues" target="_blank"><i class="fa fa-github-alt"></i> Report on GitHub</a></li>
                        <li><a href="#" onclick="window.open('bug-report.html', 'newwindow', 'width=350, height=300'); return false;"><i class="fa fa-envelope-o"></i> Email Form</a></li>
                    </ul>
            </li>
            <li>
                <button class="btn btn-w-m btn-white" ng-click="signout()" tooltip-placement="bottom" tooltip="Log out of your account.">
                    <i class="fa fa-sign-out"></i> Log out
                </button>
            </li>
        </ul>
    </nav>
</div>
