<!DOCTYPE html>
<html ng-app="musicLessonPlanner">
<head>
	<meta charset="utf-8">
	<title>MusicLessonPlanner for private teachers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>

<body>

<!--    NAV BAR        -->

	<nav id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MusicLessonPlanner</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
<!--                     <li class="active"><a href="#leftColumn">Today</a></li>
                    <li class="active"><a href="#studentView">Students</a></li>
                    <li class="active"><a href="#rightColumn">Profile</a></li> -->
				</ul>
			</div>
		</div>
	</nav>

<!--    TOP display/banner/alerts        -->

	<div class="container">
        <div ng-include="'/views/htmlViews/topBannerViews.html'"></div>


<!--    CONTENT Divs        -->

        <div class="row" ng-include="'/views/htmlViews/threeColumnView.html'">
        </div>
        <hr>

<!--    FOOTER        -->

        <div class="row">
         <div class="col-sm-12">
            <footer>
               <p>© Copyright 2015 Jess Hendricks</p>
           </footer>	
       </div>
   </div>
</div>

<!--    Scripts       -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
<script type='text/javascript' src='/js/client-app.js'></script>
<script type='text/javascript' src='/js/controllers/student-record-controller.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>